*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    color: #333;
    
}

.background{
    width: 100%;
    min-height: 100vh;
    background-image: url(blueGradient.jpg);
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    position: absolute;
}

.logo{
    width:200px;
}

nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0; 
}

nav ul li {
    display: inline-block;
    margin: 10px 15px;
}

nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: 200;
}


/* body part  */

.leftSection{
    position: relative;
    z-index: 2;
    margin-top: 15%;
    max-width: 40%;
    left:0;
    bottom: 35%;
}


.leftSection h1{
    font-size: 100px;
}

.leftSection p{
    font-size: 25px;
    font-weight: 200;
    margin: 10px 0 30px;
    animation-delay: 0.5s;

}

.experiences{
    max-width: 50%;
    position: absolute;
    right: 10%;
    top: 30%;
    display: block;

}


.experiences ul{
    list-style-type: none;
    text-align: center;
    padding: 0;
    font-size: 25px;

}

.experiences .title{
    font-weight: bold;
    font-size: 35px; 
    margin-bottom: 20%;

}
.toggleItem {
    position: relative;
    padding: 10px;
    width: 100%; 
    cursor: pointer;
    margin-bottom: 12%;
    font-weight: 200;

}


.moreInformation {
    position: fixed;
    top: 35%; 
    left: 60%;
    width: 300px;
    transform: translateX(-50%);
    display: none;
    padding: 10px 15px;
    border: 2px solid #333;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 2;
}

.moreInformation h3{
    font-size: 20px;
    margin-bottom: 10%;
}

.moreInformation p{
    font-size: 15px;
    text-align: left;
    margin-top: 2%;

}
.toggleItem:hover .moreInformation {
    display: block;
    display: 130%;
    visibility: visible;
    opacity: 1;
}

.animation {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
    100%{
        opacity: 1;
        transform: translateY(0px )
    }
    
}
.experiences.animation{
    animation-delay: 1s;

}

.featuring-img {
    display: None; /* For now */
    width: 600px;
    position: absolute;
    left: 30%;
    bottom: 30%;

}


.footer{
    position: absolute; 
    left: 0;
    bottom: 0; 
    width: 100%; 
    padding: 10px;
    text-align: center;
    font-weight: 200;
}


@media (max-width: 600px) {

    .leftSection, .experiences {
        width: 85%;
        padding: 10px;
        margin-bottom: 20px;
    }
    .leftSection p{
        display: None;
    
    }
    .experiences {
        z-index: 2;
        max-width: 85%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .leftSection h1{
        font-size: 50px;
    }

    .featuring-img {
        width: 400px;
        /* position: absolute; */
        left: 25%;
        bottom: 5%;
    }

}
