*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    color: #333;
    font-size: 100%;
    
}

.background{
    width: 100%;
    min-height: 100vh;
    background-image: url(blueGradient.jpg);
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    position: absolute;
}

.logo{
    width:200px;
    z-index: 2;
}

nav{
    z-index: 2;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0; 
}

nav ul li {
    display: inline-block;
    margin: 10px 15px;
}

nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: 200;
}

.main {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    background-size: cover;
    padding-top: 90px; /* Adds space below navbar to prevent overlap (adjust based on navbar height) */
    /* height: 100vh; */
    /* width: 100%; */
    min-height: 100vh;

}

.leftSection {
    z-index: 1; /* Ensure this is on top of the background */

    max-width: 40%;
    padding: 10px 10%;
}

.leftSection h1 {
    font-size: 100px;
}

.rightSection {
    z-index: 1; /* Ensure this is on top of the background */

    max-width: 50%;
    padding: 10px 10%;
    margin-left: 10%; /* Optional: adds space between left and right sections */
}

.rightSection p {
    font-size: 25px;
    font-weight: 200;
    margin: 10px 0 30px;
    
}

.featuring-img {
    /* max-width: 300px; Optional: Adjust image size */
    align-self: center;
    margin-top: 20px;
}

.container{
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: flex-start; 
    gap: 20px;
}

.btn{
    padding: 10px 60px;
    background-color: #FFFF;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 200;
    border-radius: 10px;
    transition: transform 0.2s;
    
}

.btn:active{
    transform: scale(0.95);
}

.popup{
    background-color: #DAEDF7;
    border-radius: 10px;
    position:fixed;
    top: 50%;
    left: 50%;
    /* testing purpose */
    transform: translate(-50%,-50%);

    /* transform: translate(-50%,-50%) scale(0.1); */
    z-index: 1000;
    text-align: center;
    padding: 10px 30px;
    font-weight: 200;
    font-size: 75%;
    width: 80vw;
    height: auto;
    max-height: 80vh;
    visibility: hidden;
    box-shadow: 0px 0px 50000px rgba(0, 0, 0, 0.5);

    /* transition: transform 0.3s ease, visibility 0s linear 0.3s;  */


}
.popup h3{
    margin: 10px;
}

.popup button {

    margin-top: 10px;
    background-color: #333;
    color: #FFFF;
    border: 0;
    outline: none;
    cursor: pointer;
    padding: 5px 30px;
    font-weight: 200;
    font-size: 80%;
    transition: transform 0.2s;
    border-radius: 4px;

}


.openPopup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1); /* Ensuring the popup scales up when visible */
}


.animation {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
    100%{
        opacity: 1;
        transform: translateY(0px )
    }
    
}
.experiences.animation{
    animation-delay: 1s;

}



.footer{
    position: absolute; 
    left: 0;
    bottom: 0; 
    width: 100%; 
    padding: 10px;
    text-align: center;
    font-weight: 200;
}


@media (max-width: 600px) {


    .experiencename{
        font-size: 20px; 
        margin-bottom: 20%;
        
    }

    .leftSection h1{
        font-size: 10vw;
        /* max-width: 100%; */

    }
    .rightSection p {
        font-size: 5vw;
        max-width: 100%;

    }
    .footer {
        position: fixed;
        width: 100%;
        padding: 10px;
        text-align: center;
        z-index: 2;
        font-weight: 200;
        margin-top: auto;
        bottom: 0%; 
    }

}
