*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    color: #333;
    font-size: 100%;
    
}*


.background{
    width: 100%;
    min-height: 100vh;
    background-image: url(blueGradient.jpg);
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    position: absolute;
}

.logo{
    width:200px;
}

nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0; 
}

nav ul li {
    display: inline-block;
    margin: 10px 15px;
}

nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: 200;
}



.title {
    position: relative;
    margin-top: 15%;
    z-index: 2;
    width: 85%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 5vw;
}


.title p.animation {
    font-size: 2vw;
    font-weight: 200;
}

.content{
    display: flex;
    justify-content: center;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-gap: 20px; /* Gap between buttons */
}

.btn{
    /* padding: 50px 100px; */
    padding: 4vw;
    background-color: #FFFF;
    border: 0;
    cursor: pointer;
    font-size: 2vw;
    font-weight: 200;
    border-radius: 10px;
    transition: transform 0.2s;
    
}

.btn:active{
    transform: scale(0.95);
}


.footer {
    position: relative;
    width: 100%;
    padding: 10px;
    text-align: center;
    z-index: 2;
    font-weight: 200;
    margin-top: auto;
    bottom: 0%; /* Ensure the footer stays at the bottom */
}

.featuring-img {
    width: 600px;
    position: absolute;
    left: 30%;
    bottom: 30%;

}


.featuring-img.animation{
    animation-delay: 1s;
}

.animation {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
    100%{
        opacity: 1;
        transform: translateY(0px )
    }
    
}



@media (max-width: 600px) {
    .title h1{
        font-size: 50px;
    }


    .featuring-img {
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
    
    }

}
