*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;

}

.background{
    width: 100%;
    min-height: 100vh;
    background-image: url(blueGradient.jpg);
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    position: absolute;
}


.logo{
    width:200px;
}

nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0; 
}
nav ul li {
    display: inline-block;
    margin: 10px 15px;
}

nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: 200;
}

.footer{
    position: absolute; 
    left: 0;
    bottom: 0; 
    width: 100%; 
    padding: 10px;
    text-align: center;
    font-weight: 200;
}

.content{
    position: relative;
    margin-top: 15%;
    max-width: 600px;
    z-index: 2;

}
.content h1{
    font-size: 100px;
    color: #333;
}

.content p{
    margin: 10px 0 30px;
    color: #333;
    font-weight: 200;
    animation-delay: 0.5s;
}

.featuring-img {
    width: 800px;
    position: absolute;
    right: 0;
    bottom: 20%;
    z-index: 1;
    /* margin-top: 15%; */
}

.featuring-img.animation{
    animation-delay: 1s;
}
body, html {
    overflow: hidden;
}

.animation {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
    100%{
        opacity: 1;
        transform: translateY(0px )
    }
    
}
.chatbox-container {
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
    position: relative; /* or absolute */
    z-index: 10;
    bottom: 100px;
    left: 100px;
}

.chatbox {
    display: none;
    background-color: rgba(255, 255, 255, 0.8);
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .chatbox-header {
    padding: 15px;
    background-color: #E6E6FA;
    color: #333;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .chatbox-messages {
    padding: 10px;
    height: 200px;
    overflow-y: scroll;
    border-bottom: 1px solid #ddd;
  }
  
  .chatbox-input {
    display: flex;
    padding: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  
  .chatbox-input input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .chatbox-input button {
    padding: 8px 12px;
    margin-left: 10px;
    background-color: #E6E6FA;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .chatbox-input button:hover {
    background-color: #E6E6FA;
  }

/* new css depedning on the size  */


@media (max-width: 600px) {

    .background{
        width: 100%;
        height: 100%;
        min-height: 100vh;
        background-image: url(blueGradient.jpg);
        background-position: center;
        background-size: cover;
        padding: 10px 10%;
        overflow: hidden;
        position: absolute;
    }
    nav{
        align-items: flex-start;
    }
    .content h1{
        font-size: 13vw;
    }

    .featuring-img {
        width: 600px;
        position: absolute;
        left: 5%;
        bottom: 18%

    }
    
}