*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;

}

.background{
    width: 100%;
    min-height: 100vh;
    background-image: url(blueGradient.jpg);
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    position: absolutes;
}


.logo{
    width:200px;
}

nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0; 
}
nav ul li {
    display: inline-block;
    margin: 10px 15px;
}

nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: 200;
}

.footer{
    position: absolute; 
    left: 0;
    bottom: 0; 
    width: 100%; 
    padding: 10px;
    text-align: center;
    font-weight: 200;
}

.content{
    margin-top: 15%;
    max-width: 600px;

}
.content h1{
    font-size: 100px;
    color: #333;
}

.content p{
    margin: 10px 0 30px;
    color: #333;
    font-weight: 200;
    animation-delay: 0.5s;
}

.featuring-img {
    width: 800px;
    position: absolute;
    right: 0;
    bottom: 20%;
    /* margin-top: 15%; */
}

.featuring-img.animation{
    animation-delay: 1s;
}

.animation {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
    100%{
        opacity: 1;
        transform: translateY(0px )
    }
    
}