*{
    margin: 0;
    padding: 0;
    color: #333;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;

}

.background{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-image: url(blueGradient.jpg);
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    /* position: absolute; */
    background-size: cover;

}


.logo{
    width:200px;
}

nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0; 
}
nav ul li {
    display: inline-block;
    margin: 10px 15px;
}

nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: 200;
}


.title {
    position: relative;
    margin-top: 15%;
    z-index: 2;
}

.title h1{
    font-size: 100px;
    max-width: 600px;
}

.title p{
    font-size: 25px;
    max-width: 800px;
    font-weight: 200;
    margin: 10px 0 50px;
    animation-delay: 0.5s;

}


.footer {
    position: relative;
    width: 100%;
    padding: 10px;
    text-align: center;
    z-index: 2;
    font-weight: 200;
    margin-top: auto;
    bottom: 0%; /* Ensure the footer stays at the bottom */
}

.project-information {
    display: None;
    cursor: pointer;
}
.animation {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
    100%{
        opacity: 1;
        transform: translateY(0px )
    }
    
}



@media (max-width: 600px) {
    .title h1{
        font-size: 50px;
    }

}
