*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    color: #333;
    font-size: 100%;
    
}


.background{
    width: 100%;
    min-height: 100vh;
    background-image: url(blueGradient.jpg);
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    position: absolute;
}

.logo{
    width:200px;
}

nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0; 
}

nav ul li {
    display: inline-block;
    margin: 10px 15px;
}

nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: 200;
}

.content {
    position: relative;
    margin-top: 15%;
    z-index: 2;
    width: 85%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 5vw;
}

.container {
    /* width: 85%; */
    display: flex;
    justify-content: center;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-gap: 20px; /* Gap between buttons */
}

.btn{
    padding: 4vw;
    background-color: #FFFF;
    border: 0;
    cursor: pointer;
    font-size: 2vw;
    font-weight: 200;
    border-radius: 10px;
    transition: transform 0.2s;
    
}

.btn:active{
    transform: scale(0.95);
}

.popup{
    background-color: #DAEDF7;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    text-align: center;
    padding: 10px 30px;
    font-weight: 200;
    font-size: 75%;
    width: min(80vw, 50vw);
    max-height: 70vh;
    overflow: auto;
    visibility: hidden;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}
.popup h3{
    margin: 10px;
    font-size: 3vw;
    font-weight: 450;
}

.popup button {
    margin-top: 10px;
    background-color: #333;
    color: #FFFF;
    border: 0;
    outline: none;
    cursor: pointer;
    padding: 5px 30px;
    font-weight: 200;
    font-size: 80%;
    transition: transform 0.2s;
    border-radius: 4px;

}


.timeline {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}

.timeline-item {
    border-left: 2px solid #333; /* Line indicating the timeline */
    padding-left: 20px;
    position: relative;
}

.timeline-item h4 {
    font-size: 1.5vw;
    text-align: left;
}

.timeline-item p {
    left:0;
    font-size: 1vw;
    color: #333;
    text-align: left;
}

.timeline-item::before {
    content: '';
    position: absolute;
    left: -6px;
    top: 10px;
    width: 12px;
    height: 12px;
    background-color: #333;
    border-radius: 50%;
}



.openPopup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1); /* Ensuring the popup scales up when visible */
}


.animation {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
    100%{
        opacity: 1;
        transform: translateY(0px )
    }
    
}
.experiences.animation{
    animation-delay: 1s;

}



.footer {
    position: relative;
    width: 100%;
    padding: 10px;
    text-align: center;
    z-index: 2;
    font-weight: 200;
    margin-top: auto;
    bottom: 0%; /* Ensure the footer stays at the bottom */
}

@media (max-width: 750px) {
    /* .title h1{ font-size: 50px; } */
    .popup {
        background-color: #DAEDF7;
        border-radius: 10px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        text-align: center;
        padding: 10px 30px;
        font-weight: 200;
        font-size: 75%;
        width: min(80vw, 400px);
        max-height: 70vh;
        overflow: auto;
        visibility: hidden;
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    }
    .openPopup {
        visibility: visible;
        top: 50%;
        transform: translate(-50%, -50%) scale(1); /* Ensuring the popup scales up when visible */
    }

    .popup h3{
        margin: 10px;
        font-size: 5vw;
        font-weight: 450;
    }

    .timeline-item h4 {
        font-size: 2.5vw;
        text-align: left;
    }
    
    .timeline-item p {
        left:0;
        font-size: 2vw;
        color: #333;
        text-align: left;
    }
}